<head>
  <title>Buoyer</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>


<template name="app">

  <div class="main">
    <article id="home-input" class="jumbotron primary">
			<div class="center-container">
				<div class="h1">Find and get rid of things!</div>
				{{> imageInput}}
			</div>
    </article>
  </div>

  <footer>
    <div class="container">
      <nav role="navigation" class="row">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <h4>BUOYS</h4>
          <ul>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Bouylers</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
          <h4>ABOUT BUOYER</h4>
          <ul>
            <li><a href="#">Bouyer Sweden AB</a></li>
            <li><a href="#">We at Bouyer</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
          <h4>SUPPORT</h4>
          <ul>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Password recovery</a></li>
          </ul>
        </div>
      </nav>

      <hr>
      <div class="copyright">
        © 2014 Buoyer Sweden AB. All rights reserved.
      </div>
    </div>
  </footer>
</template>


<template name="imageInput">
	{{#S3 init="s3init" done="s3done"}}
	<span class="btn btn-default btn-file">
    Take a picture! <input type="file" accept="image/*;capture=camera">
	</span>
  {{/S3}}
</template>
