/* CSS declarations go here */

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 800;
}

.btn-file {
    position: relative;
    overflow: hidden;
		padding: 15px 60px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-default {
  background: #282328;
  color: white;
}


.btn-primary, .btn-primary[disabled] {
  background: #df2632;
}

body {
  font-family: ‘Roboto’, Arial, serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  position: absolute;
  width: 100%;
  min-height: 55px;
  z-index: 1000;
}

header h1.navbar-brand {
  width: 250px;
  height: 117px;
  float: left;
  padding: 0;
  margin: 0;
}

header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("images/logo.svg") no-repeat;
}

header h1 a span {
  display: none;
}

.jumbotron {
  padding: 100px 30px;
  margin: 0;
  border-bottom: solid 4px white;
  text-align: center;
  background: #df2632;
  color: white;
}

.jumbotron.primary {
 position:relative;
 padding:0;
 /*padding-top: 200px;*/
 background: white no-repeat center center;
 background-size: cover;
}

.jumbotron.primary .h1 {
 color: #e23043;
}

.jumbotron.primary h3 {
  font-weight: normal;
}

.jumbotron p {
  font-size: 30px;
  font-weight: 800;
}

.jumbotron form {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.jumbotron form label {
  margin-left: 20px;
}

.scroll-to-content {
  background: #e23043;
  padding: 30px;
  text-align: center;
  border-bottom: solid 4px white;
}

.scroll-to-content button {
  color: white;
  display: inline-block;
  height: 100px;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron h2,
.jumbotron .h2,
.jumbotron h3,
.jumbotron .h3 {
  text-align: center;
}

.btn,
.form-control {
  border-radius: 20px;
  border: none;
  box-shadow: none;
}

.input-group-lg .form-control,
.input-group-lg .input-group-btn .btn {
  border-radius: 30px;
}

.jumbotron.primary {
  text-align: center;
}

.jumbotron.primary .search {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.jumbotron.primary .search .form-control {
  border-radius: 30px;
  padding: 20px 30px;
  height: 54px;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

.input-group-lg .input-group-btn {
  display: inline-block;
  width: 96px;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

footer {
  background: #282328;
  color: white;
  padding: 30px;
  margin-bottom: 10px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer a {
  color: white;
  line-height: 175%;
}

footer hr {
  color: #f00;
  background-color: white;
  height: 2px;
}

.result-list {
 margin-left:auto;
 margin-right:auto;
 width: 100%;
 text-align:center;
}
.result {
 
}
.image-display {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:200px;
 height:200px;
 background-size:cover;
 text-align:center;
}
.image-display-container {
 min-height: 300px;
}

.result {
 padding: 10px;
}

ul {padding:0; margin:0;}