
<template name="image">
	
	<div class="main">
    <article class="jumbotron primary">
			<div class="image-display-container">
				<div class="image-display" style="background-image:url({{image.url}});" ></div>
			</div>
			<ul class="result-list">
				{{#each result}}
				<li class="result">
					<a href="/i/{{_id}}" >
						<div class="image-display" style="background-image:url({{fields.url.[0]}});" ></div>
					</a>
				</li>
				{{/each}}
			</ul>
    </article>
  </div>
</template>
